*{
  border: 0;
  padding: 0;

}
body{
    background-color: #161A30;
}
h1{
    margin-left: 200px;
    padding: 50px;
    color: #C5FFF8;

}
.flex{
    display: flex;
    
    flex-direction: column;
    align-content: center;
    padding: 30px;
   
}
.box{
    background-color: #F0ECE5;
}
.imge{
    width : 1000px;
    height: 450px;
    padding-left: 250px;
}
hr{
    margin: 2 rem;
}

h2{
    padding: 40px;
    padding-left: 580px;
}

.text{
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
}
.bar{
    background-color:#161A30 ;
}
